#contenedor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    height: 300px;
}

#form {
    font-weight: bolder;
    font-size: 16px;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*
#form-bx {
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

#form-btn {
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

.bx {
    display: block;
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #81eaee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5fd3f0;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}
*/
