.progress-bar {
    width: 0;
    animation: progress 2s ease-in-out forwards;
} 
    
.barraCarga {
    opacity: 0;
    animation: show 2s forwards ease-in-out 0.5s;
  }
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }