#contenedor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:600px;
	height: 300px;
}

#menu{
    font-size: 16px;
    width: 500px;
	height: 300px;
	margin: 0 auto; 
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #615d5d;
  }
  
  li {
    float: left;
  }
  #perfil{
      float: right;
  }
  
  li a, .dropbtn {
    padding: 40px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #535050;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #615d5d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: #535050;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }